<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

    <div ng-cloak layout-gt-sm="row" layout="column" layout-align="center">
        <div flex-gt-sm="80" flex>
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Flota samochodów:</span>
                    <input align="right" ng-model="query" type="text" placeholder="Filter by" autofocus>
                </div>
            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="car in cars | filter:query" ng-click="changeListName(car)">
                        <img ng-src="{{car.img}}" class="md-media-md" />
                        <div class="md-list-item-text" layout="column">
                            <h2>{{ car.brand }}</h2>
                            <h3>{{ car.model }}</h3>
                        </div>
                            <p>Klasa: {{ car.segment }}</p>                      
                            <h1 class="md-secondary">{{ car.priceGross }}zł</h1>                                            
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </div>

    </div>
    <script>

    </script>

</body>







