<div>
    <form name="SendEmailform" ng-submit="sendEmail();">
        <input class="form-control" id="name" placeholder="Imię i Nazwisko / Nazwa firmy" ng-model="mail.name">
        <br>
        <input class="form-control" id="email" placeholder="Adres E-mail" ng-model="mail.email">
        <br>
        <textarea class="form-control" rows="10" cols="100" name="Text" id="text" placeholder="Treść wiadomości" ng-model="mail.text"></textarea>
        <br>
        <br>
        <button type="submit" ng-click="saveData()" class="btn btn-success">Wyślij zapytanie</button>
    </form>
</div>