<div class="row">


    <div class="col-md-6">

        <form name="SendEmailform" ng-submit="sendEmail();">
            <input class="form-control" id="name" placeholder="Imię i Nazwisko / Nazwa firmy" ng-model="mail.name">
            <br>
            <input class="form-control" id="email" placeholder="Adres E-mail" ng-model="mail.email">
            <br>
            <textarea class="form-control" rows="10" cols="100" name="Text" id="text" placeholder="Treść wiadomości" ng-model="mail.text"></textarea>
            <br>
            <br>
            <button type="submit" ng-click="saveData()" class="btn btn-success">Wyślij zapytanie</button>
        </form>
    </div>

    <div class="col-md-6">


        <address>
            <strong>RentCar</strong><br />
            Kołopierdzielce<br />
            Januszowa 51/12<br />
            <span class="glyphicon glyphicon-phone-alt">     </span> 425.555.0100<br />
            <span class="glyphicon glyphicon-print">     </span> 425.555.0199<br />
            <span class="glyphicon glyphicon-envelope"></span>    <a href="mailto:wypozyczalniasam@gmail.com">   wypozyczalniasam@gmail.com</a>

        </address>


    </div>

</div>