@{
    ViewBag.Title = "Home Page";
}
@section scripts{
}


<!DOCTYPE html>
<html>
    <body>
            <div>
                <!--    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#cars"><span class="glyphicon glyphicon-road"></span> Cars</a></li>   
                        <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="#email"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
                    </ul>-->
                <br>
                <div class="ng-view">  </div>
        </div>
    </body>
</html>