@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/bundles/angular")
}


<!DOCTYPE html>
<html

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>



    <body>
            <div>
                <!--    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#cars"><span class="glyphicon glyphicon-road"></span> Cars</a></li>   
                        <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="#email"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
                    </ul>-->
                <br>
                <div class="ng-view">  </div>
        </div>
    </body>
</html>